.change-to {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.c-item {
  color: var(--primary-color);
  cursor: pointer;
}

.c-item:hover {
  opacity: 0.9;
}
