.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  color: var(--primary-color);
  background-color: var(--oppesit-secondery-color);
}

.scrollableModal {
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  color: var(--primary-color);
  background-color: var(--oppesit-secondery-color);
  height: 80vh;
  overflow: scroll;
}

.header {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  justify-content: center;
  background: var(--purple-color);
  padding: 1rem;
}

.header h2 {
  margin: 0;
}

.content {
  padding: 1rem;
  overflow-y: auto;
}

.scrollableContent {
  padding: 1rem;
  overflow-y: auto;
}

.actions {
  padding: 1rem;
  display: flex;
  gap: var(--gap-s);
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
