.cellContiner {
  padding-left: 10%;
}
.cell {
  color: var(--primary-color);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.td {
  display: table-cell;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  padding: 16px;
}
