.container {
  padding: 1rem 2rem;
  background-color: var(--oppesit-primary-color);
  min-width: 40vw;
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
  min-height: 450px;
}
.table {
  width: 100%;
  background-color: var(--oppesit-secondery-color);
  color: var(--primary-color);
}
.head {
  background-color: var(--oppesit-secondery-color);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.row {
  cursor: pointer;
  background: linear-gradient(
      to left,
      var(--oppesit-primary-color) 50%,
      var(--oppesit-third-color) 50%
    )
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.rowSelected {
  cursor: pointer;
  animation: select 0.5s ease-in-out forwards;
}
.cellContiner {
  padding-left: 10%;
}
.cell {
  padding: 16px;
  color: var(--primary-color);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.td {
  display: table-cell;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  padding: 16px;
}

@keyframes select {
  from {
    background-color: var(--oppesit-primary-color);
  }
  to {
    background-color: var(--oppesit-third-color);
  }
}
