.header {
  width: 100%;
  height: 5rem;
  padding: 0 10%;
  position: sticky;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 1rem;
  width: 5rem;
}

.header a {
  color: var(--primary-color);
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--orange-color);
  padding-bottom: 0.25rem;
  border-bottom: 4px solid var(--orange-color);
}

.settings {
  position: absolute;
  left: 0;
}
