.question {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.questionType {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.questionTitle {
  border-top: solid var(--purple-color) 1px;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.answers {
  border-top: solid var(--purple-color) 1px;
}

.tags {
  border-top: solid var(--purple-color) 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: center;
}

.submitBtn {
  margin: 0 40%;
}

.modalOpen {
  animation: openModal 0.4s ease-in-out forwards;
}

.modalClose {
  animation: closeModal 0.6s ease-in-out forwards;
}

@keyframes openModal {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes closeModal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
