[data-theme="no-error"] {
  --color: #5fa8d3;
}
[data-theme="error"] {
  --color: rgb(233, 0, 0);
}
.field {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  gap: var(--gap-s);
}

.form {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  font-size: var(--defult-text-size);
  color: var(--primary-color);
  padding-top: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-text-fill-color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--secondery-bg-color) inset !important;
}

.form label {
  position: absolute;
  color: var(--secondery-color);
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--orange-color);
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--orange-color);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  color: var(--orange-color);
  font-size: 0.5rem;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.error-msg {
  color: red;
  font-size: 0.8rem;
}
