.box {
  width: 55px;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 50px;
  outline: none;
  border: 2px solid var(--primary-color);
  transition: all 0.2s;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  transform: translate(0);
  width: 19px;
  height: 19px;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.toggle:checked::before {
  transform: translate(150%);
}

.toggle:checked {
  border: 2px solid var(--oppesit-primary-color);
}

.dot {
  position: absolute;
  top: 40%;
  right: -10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: all 0.2s;
  width: 8px;
  height: 8px;
}
