.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

input {
  accent-color: var(--purple-color);
}

.answerContainer {
  width: 100%;
}

.removeBtn {
  border-radius: 40%;
}
