.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.answerContainer {
  width: 500px;
}

.removeBtn {
  border-radius: 50%;
  padding: 3px;
  width: 30px;
  background-color: transparent;
}
