.shimmer {
  width: 100%;
  height: 2rem;
  animation: shine-td 0.3s linear infinite alternate;
  border-radius: 15px;
}
@keyframes shine-td {
  from {
    background-color: var(--from-shimmer);
  }
  to {
    background-color: var(--to-shimmer);
  }
}
