:root {
  --secondery-bg-color: #264eca;
  --primary-bg-color: #424242;

  --defult-text-size: 1rem;

  --gap: 20px;
  --gap-m: 15px;
  --gap-s: 10px;
}

[data-theme="light"] {
  --primary-color: #ffffff;
  --secondery-color: #cccccc;
  --orange-color: #ff8800;

  --oppesit-primary-color: #1b1b1b;
  --oppesit-secondery-color: #212121;
}

[data-theme="dark"] {
  --primary-color: #1b1b1b;
  --secondery-color: #212121;
  --orange-color: #cc721e;

  --oppesit-primary-color: #ffffff;
  --oppesit-secondery-color: #cccccc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-image: url(./assets/back-ground.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "Segoe UI";
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}
